<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function changeText(){
            document.getElementById("myForm").submit();
        }
    </script>
</head>
<body>

    <form action="/posts" id="myForm" method="get">
        <input type="text" id="text" name="text" onchange="changeText();">
    </form>

    <a href="/newPost">Nuevo Post</a>
    <h1>Posts</h1>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Post
            </th>
            <th>
                Categoria
            </th>
            <th>
                Opciones
            </th>
        </tr>
        <tr th:each="post : ${postList}" th:if="${post.showPost}">
            <td th:text="${post.id}">
            </td>
            <td th:text="${post.text}">
            </td>
            <td th:text="${post.postCategory.name}">
            </td>
            <td>
                <a th:href="${'/post/' + post.id}">Ver</a>
                <a th:href="${'/editPost/' + post.id}">Editar</a>
                <a th:href="${'/deletePost/' + post.id}">Eliminar</a>
            </td>
        </tr>

    </table>

</body>
</html>