<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Post</h1>

<b>Id:</b> <p th:text="${post.id}"></p>
<b>Texto:</b> <p th:text="${post.text}"></p>
<b>Categoria:</b> <p th:text="${post.postCategory.name}"></p>
<b>Likes:</b>  <p th:text="${post.likes}"></p>
<a th:href="${'/like/' + post.id}">Like</a>
<form action="/comment" method="POST">
    <input type="hidden" name="post" th:value="${post.id}">
    <select name="user" id="user">
        <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Guardar"></input>
</form>
<p th:each="comment : ${post.comments}" >
    <span th:text="${comment.text}"></span>
    <span th:text="${comment.user.name}"></span>
    <a th:href="${'/commentlike/' + comment.id}">like</a>
</p>

</body>
</html>